extends index.pug

block content   
    main
        section(id="photoGrid")
            div(class="update")
                img(class="update-img" src='assets/a-birthday.jpeg' alt='')
                dialog(class="update-desc")
                    p(class="update-date") = "13/01/2024"
                    p(class="update-text") =  "Happ Birthday!"

            div(class="update")
                img(class="update-img" src='assets/main-test.jpg' alt='')
                dialog(class="update-desc")
                    p(class="update-date") = "10/11/2023"
                    p(class="update-text") =  "Freg working on this very website!"

            div(class="update")
                img(class="update-img" src='assets/picnic.jpg' alt='')
                dialog(class="update-desc")
                    p(class="update-date") = "12/09/2023"
                    p(class="update-text") =  "Freg update. Freg having a picnic with his four children Reg, Eg, G and ."

            div(class="update")
                img(class="update-img" src='assets/floristry.jpg' alt='')
                dialog(class="update-desc")
                    p(class="update-date") = "30/08/2023"
                    p(class="update-text") =  "Freg has decided to take up floristry."

            div(class="update")
                img(class="update-img" src='assets/birthday.jpg' alt='')
                dialog(class="update-desc")
                    p(class="update-date") = "15/08/2023"
                    p(class="update-text") =  "A year ago today we met Freg - Let’s all celebrate Freg’s birthday"