extends index.pug

block content 
    main(id="signup")
        div(class="inputs")    
            h1 = "Signup"
            form(action="/signup", method="post") 
                div
                    label(for="username") = "Username"
                    input(id="username" name="username" type="text")
                div
                    label(for="password") = "Password"
                    input(id="password" name="password" type="password") 
                
                input(type="submit" class="link-btn submit" value="Signup")